.App{
width: 100vw;
}

.home-bg {
  height: 88vh;
  width: 45vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x:hidden;
}

.login-bg {
  max-height: 90vh;
  overflow-x: hidden;
}


/*================= LIGHT/DARK THEME =============================== */

#light {
  background-color: #ffffff;
}

#dark {
  background-color: black;
}

#dark #home-page-header,
#home-page-text,
#msg-date,
#login-text,
.sidebar-title {
  color: rgb(177, 177, 177);
}
#dark #basic-nav-dropdown {
  color: rgb(177, 177, 177);
}

#dark .message-output {
  border: 1px solid gray;
}

#dark .message-inner {
  background-color: #545655;
}

#dark .incoming-message .message-inner {
  background-color: #838383;
}


/*================= SIGNUP =============================== */

.signup-bg {
  height: 85vh;
  width: 40vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.signup-profile-pic-container {
  width: 100px;
  height: 100px;
  position: relative;
  margin: 0 auto;
}

.signup-profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid gray;
  object-fit: cover;
}

.add-picture-icon {
  position: absolute;
  bottom: 0;
  right: 10px;
  color: green;
  background: white;
  cursor: pointer;
  z-index: 99;
}

/* =============== MESSAGE FORM ========================= */

.message-output {
  height: 80vh;
  border: 1px solid lightgray;
  overflow-y: scroll;
  margin-bottom: 20px;
}

/* =============== SIDEBAR ========================= */
.member-status-img {
  width: 30px;
  height: 30ps;
  border-radius: 50%;
  object-fit: cover;
}

.member-status {
  margin-bottom: 0;
  position: relative;
}

.sidebar-online-status {
  color: green;
}

.sidebar-offline-status {
  color: #e3b505;
}

.sidebar-offline-status,
.sidebar-online-status {
  font-size: 11px;
  position: absolute;
  z-index: 99;
  bottom: 0;
  left: 12px;
}
/* =============== MESSAGE FORM ========================= */

.message-inner {
  margin-left: 20px;
  margin-bottom: 10px;
  padding: 0.3rem;
  min-width: 200px;
  max-width: 90%;
  text-align: left;
  min-height: 80px;
  font: 400 1em, sans-serif;
  display: inline-block;
  border-radius: 10px;
  background-color: #d1e7dd;
}

.incoming-message .message-inner {
  background-color: #ffdab9;
}

.incoming-message {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.message-timestamp-left {
  font-size: 0.85em;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 0;
}

.message-sender {
  margin-bottom: 5px;
  font-weight: bold;
}

.message-date-indicator {
  width: 150px;
  margin: 0;
}

.conversation-info {
  padding: 0;
  margin: 0 auto;
  text-align: center;
  height: 3rem;
}

.conversation-profile-picture {
  width: 40px;
  margin: 0 auto;
  border-radius: 50%;
  margin-left: 10px;
}
